[project]
name = "tdom"
version = "0.1.0"
description = "PEP750 based t strings for both SSR and FE"
readme = "README.md"
authors = [
    { name = "Andrea Giammarchi", email = "andrea.giammarchi@gmail.com" }
]
requires-python = ">=3.14"
dependencies = [
    "dill>=0.4.0",
]



[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "black",
    "hatchling>=1.27.0",
    "pytest",
]

[tool.uv.sources]
black = { git = "https://github.com/davepeck/black", branch = "pep750-support" }

[tool.pytest.ini_options]
addopts = [
    "--ignore=tests/pwright",
]
